
@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);}



/* ## Cores */
:root{
  font-family: var(--ff);
  
/* ############################
            Variaveis
############################ */

  /* CORES */

--bg-corpo: #1D232A;
--cabeçalho: #1D232A;
--cabeçalho-mobile: #15191C;
--menu-lateral: #15191C;
--card: #2C343A;
--fonte: #FFFFFF;
--fontealternativa: #95999C;
--links: #0480DC;
--botão: #0480DC;


/* sombras */
--sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);

/* Fontes */
--ff: 'Open Sans','icones', sans-serif;

/* Icone"s */


--i-Camisas: "\e900";
--i-Carrinho: "\e901";
--i-Inicio: "\e902";
--i-Integrantes: "\e903";
--i-Menu: "\e904";
--i-Moeda: "\e905";
--i-notifica: "\e906";
--i-Pico: "\e908";
--i-Picos: "\e909";
--i-Pinturas: "\e90a";
--i-Play: "\e90b";
--i-Relogio: "\e90c";
--i-Seta-baixo: "\e90d";
--i-Videos: "\e90e";
--i-Visualizacao: "\e90f";

}




body {

    background-color: var(--bg-corpo);
    font-family: var(--ff);
    color: var(--fonte);
}

@media screen and (min-width: 1440px) {

    body{
        display: grid;
        grid-template-columns: auto 1fr;

    }
  
}

.cabecalho{

    font-family: var(--ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabeçalho-mobile);
    padding: 8px 16px;
    box-shadow: var(--sombras);

}

.cabecalho__menu::before {
    content: var(--i-Menu);
    font-size: 24px;
}

.cabecalho__notificacao::before {
    content: var(--i-notifica);
    font-size: 24px

}

.cabecalho__logo{

    width: 40px;

}

.cabecalho__perfil{
     display:none;
}

@media screen and (min-width: 1440px) {

    .cabecalho{
            background-color: var(--cabeçalho);
            display: grid;
            column-gap: 32px;
            grid-template-columns: 1fr auto;
            padding: 16px 60px;
            height: 80px;
            box-sizing: border-box;
            grid-column: 2;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__logo{
        display: none;

    }

    .cabecalho__perfil{
        display: grid;
        column-gap: 8px;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: var(--fontealternativa);
        padding: 8px 32px;
        border-right: 1px solid var(--fontealternativa);

    }

    .cabecalho__perfil::before{
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_4.png) ;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    .cabecalho__perfil::after{
        content: var(--i-Seta-baixo);
        color: var(--fonte);
        font-size: 1.5rem;


    }


}



.menu-lateral{
  display: flex;
  flex-direction: column;
  background-color: var(--cabeçalho-mobile);
  width: 55vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  transition: .5s ;
}


.menu-lateral--ativo{
  left: 0;
  transition:steps(.5s);
  ;

}

.menu-lateral__logo{
width: 118px;
align-self: center;
padding: 16px;
}

.menu-lateral__link{
height: 64px;
color: var(--fontealternativa);
padding-left: 64px;
display: flex;
align-items: center;
}

.menu-lateral__link--ativo{
  color: var(--fonte);
  padding-left: 56px;
  border-left: 8px solid var(--fonte);
}

.menu-lateral__link:hover{
  color: #ffffff52;
  padding-left: 56px;
  border-left: 8px solid #ffffff52;
}


.menu-lateral__link::before{
content: "" ;
width: 24px;
height: 24px;
font-size: 24px;
position: absolute;
left: 24px;
}

.menu-lateral__link--i::before{
  content: var(--i-Inicio);
}

.menu-lateral__link--v::before{
  content: var(--i-Videos);
}

.menu-lateral__link--p::before{
  content: var(--i-Picos);
}

.menu-lateral__link--in::before{
  content: var(--i-Integrantes);
}

.menu-lateral__link--c::before{
  content: var(--i-Camisas);
}

.menu-lateral__link--pi::before{
  content: var(--i-Pinturas);
}

@media screen and (min-width: 1440px){
    .menu-lateral{
      position: static;
      width: 200px;
      grid-column: 1;
      grid-row:1 / span 2;
    }
  
  }

.principal{

  padding: 24px 16px;
  font-size: 1.5rem;
  font-weight: 700;
  display: grid;
  gap: 16px;


}

.titulo-da-pagina{
  font-size: 1.5rem;
  font-weight: 700;
}

.titulo-secao{
  font-size: 1.2rem;
  font-weight:  700;


}

.cartao__imagem--desktop{
  display:none;
}

.cartao--destaque{
  margin-bottom: 16px;
}


@media screen and (min-width: 1440px) {

  .principal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "titulo-pagina titulo-pagina titulo-pagina"
        "destaque-video destaque-video videos-recentes"
        "secao-videos secao-videos  secao-videos"
        "produtos-recentes destaque-produtos destaque-produtos"
        "secao-produtos secao-produtos secao-produtos"
    ;

    column-gap: 32px;
    padding: 16px 60px;
    grid-column: 2;
    
  } 

  .titulo-secao{

    grid-column: span 4;

  }
}


.cartao{
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--card);
  font-weight: 400;
  font-size: 1rem;

}

.cartao__imagem--desktop{
    display: none;
}

.cartao--destaque{

    margin-bottom: 16px;

}



.cartao__conteudo{
  padding: 16px;
  display: grid;
  grid-template-columns:  auto 1fr;
  gap: 8px;
  


}

.cartao__destaque{
  grid-column: span 2;
}

.cartao__titulo{
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
  
}

.cartao__perfil{

  color: var(--fontealternativa);
  font-size: 0.9rem;
  grid-column: span 2;
}



.cartao__info{
display: flex;
align-items: center;
color: var(--fontealternativa)
}

.cartao__info--tempo::before{
  content: var(--i-Relogio);
  margin-right: 8px;
}

.cartao__info--visualizacao::before{
  content: var(--i-Visualizacao);
  margin-right: 8px;
}

.cartao__info--preco::before{
    content: var(--i-Carrinho);
    margin-right: 8px;

}

.cartao__botao{
display: flex;
justify-content: center;
align-items: center;
background-color: var(--botão);
width: 40px;
height: 40px;
border-radius: 10px;
justify-self: flex-end;

}

.cartao__botao--destaque{
    justify-self: left;
}

.cartao__botao--play::before{
content: var(--i-Play);
font-size: 24px;

}

.cartao__botao--carrinho::before{
    content: var(--i-Carrinho);
    font-size: 22px;
    font-weight: 400;
    
    }



.cartao__botao--destaque{

  width: 100%;
  grid-column: span 2;
  
  
}

.cartao__botao--destaque::before{

 margin-right: 8px;
 

}


.cartao--recentes{
display: none;

}

@media screen and (min-width: 1440px) {

  .cartao--destaque{
    margin-bottom: 0;
    
  }

  .cartao__imagem--desktop{
    display:block;
  }

  .cartao__imagem--mobile{
    display:none;
  }

  .cartao__botao--destaque{
    grid-column: auto;
    padding: 1px 16px;
   
    
  }



  .cartao--recentes{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 24px;
    width: 256px;
    padding: 16px;
    box-sizing: border-box;
    align-self: flex-start;
    }

    .cartao--recentes .cartao__titulo{

      grid-column: auto;

    }

    .cartao__link{
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--botão);
      justify-self: flex-end;


    }

    .cartao__lista{
      display: grid;
      row-gap: 16px;
      grid-column: span 2;
    }

    .cartao__item{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;

    }

    .cartao__item--thumbnail{
      width: 32px;
      grid-row: span 2;

    }

    .cartao__item-titulo{
      font-size: 0.8rem;
      line-height: 1.1rem;
      font-weight: 700;

    }

    .cartao__item-perfil{
      font-size: 0.8rem;
      color: var(--fontealternativa);
    }

  
}


.secao{
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 1440px) {

  .secao{
    grid-template-columns: repeat(4, 1fr);
  }


}




@media screen and (min-width: 1440px) {


.videos-recentes{
  grid-area: videos-recentes;

}

.secao-videos{
  grid-area: secao-videos;

}

.destaque-produtos{
  grid-area: destaque-produtos;
}

.produtos-recentes{
  grid-area: produtos-recentes;
}

.secao-produtos{
  grid-area: secao-produtos;
}

.destaque-video{
  grid-area: destaque-video ;
}

}